<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router name="standard">
        <route id="frontend" frontName="frontend">
            <module name="Elsherif_HelloWorld"/>
        </route>
    </router>
</config>
